{% extends 'base.html' %}
 {% block content %}

 <div class = "container">
    <table>
        
          <tr>
            <div class = "card black darken-1 l8">
                <div class = "card-content white-text">
                    <div class = "row">
                    <div class = "col l4">
                        USERNAME
                    </div>
                    <div class = "col l4 ">
                        TRANSFERED TO
                    </div>
                    <div class = "col l4">
                        AMOUNT TRANSFERED

                    </div>
                    
                </div>
                </div>
            </div>
          </tr>
        
        
            
            {% for user in user %}
            <tr>
              
            
                <div class = "card blue-grey darken-1 l8">
                    <div class = "card-content white-text">
                        <div class = "row">
                        <div class = "col l4">
                            {{user.username}}
                        </div>
                        <div class = "col l4 ">
                            <ul>
                                <li>
                                    {{user.transferedTo}}
                                </li>
                                
                            </ul>
                        </div>
                        <div class = "col l4">
                            <ul>
                                <li>
                                    {{user.amountAdd}}
                                </li>
                                
                            </ul>

                        </div>
                        
                    </div>
                    </div>
                </div>
         
            </tr>
            {% endfor %}
        
    </table>

 

 {% endblock %}