{% extends 'base.html' %}
 {% block content %}
 
 <div class = "container">
    <div class = "row">
 {% for user in user %}
 

    <div class = "col l4">

 <div class="card">
   
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4 "><h4>{{user.username}}</h4></span>
      <h4>{{user.mobile}}</h4> <a class="btn disabled"><p class = "black-text bold">{{user.amount}}</p></a>
      <a href = "/transaction" class="waves-effect waves-light btn">Transfer Money</a>
    </div>

 </div>

</div>

 


        
    
  
 {% endfor %}
</div>
</div>



    

 {% endblock %}